@font-face {
    font-family: 'BlackMango';
    src: url(/static/fonts/BlackMango-SemiBold.ttf);
    font-weight: bold;
    font-style: bold;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: BlackMango;
    
}

body {
    display: flex;
    flex-direction: column;
}

/*CSS FOR LAYAOUT PAGE*/
.head {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;
    justify-content: space-between;
    font-family: BlackMango;
    height: 4.3rem;
    box-shadow: 5px 5px 10px rgba(131, 0, 0, 0.8);

}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    position: relative;
    z-index: 1;
    width: 20rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: aliceblue;
    transition: ease-in-out 0.2s;
}

a:hover {
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
    color:#bb8b32ea;
}
.Title {
    color: aliceblue;
    display: flex;
    position: relative;
    left: -1.8rem;
}

.main {
    /*flex: 1;*/
}

.SubTitle {
    color: rgb(173, 9, 9);
    display: flex;
    position: relative;
    left: -1.6rem;
    top: 0.8rem;
}

.foot {
    height: 3.1rem;
    font-family: BlackMango;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(121, 61, 61, 0.5);
}

/*CSS FOR INDEX PAGE*/
input {
    width: 70%;
    font-size: 0.9rem;
    font-family: BlackMango;
    height: 1.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #b4b4b4;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.forms {

    color: white;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-image: url(/static/images/japan-background-digital-art.jpg);
    background-size:cover;
    box-shadow: 1px 1px 15px rgba(145, 0, 0, 5);


}

input:focus {
    color: #495057;
    font-size: 0.9rem;
    background-color: #fff;
    border-color: #cacaca;
    outline: 0;
    box-shadow: 0 0 0.1rem 0.2rem rgba(218, 0, 0, 0.25);
}

.button-submit {
    font-family: BlackMango;
    color: #fff;
    font-size: 0.9rem;
    background-color: #700000;
    border-color: #000000;
    border-radius: 8px;
    width: 9.3rem;
    height: calc(1.5em + 0.75rem + 2px);
}

.button-submit:hover {
    box-shadow: 0 0 0.1rem 0.2rem rgba(218, 0, 0, 0.25);
    font-size: 0.9rem;
    background-color: #000000;

}

.back-anime {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #270000;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 3.1rem;

}

.picture-anime {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    height: 25.75rem;
    border-radius: 0.5rem;
    background-size: cover;
    box-shadow: 0 1rem 1.1rem 0.2rem rgba(0, 0, 0, 0.25);
    opacity: 70%;
    transition: ease-in-out 0.2s;
    overflow: hidden;
    
}

.picture-anime:hover {
    opacity: 100%;
    transition: ease-out 0.2s;
}

.picture-anime:hover .button-description {
    transition: ease-in-out 0.3s;
    transform: scale(12.5);
}

.picture-anime:hover:hover .button-text {
    opacity: 0;
}

.button-description {
    border-radius: 100%;
    border: #700000;
    position: relative;
    right: -0.3rem;
    top: 22.4rem;
    background-color: #382121;
    color: #b4b4b4;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;

}

.anime-title {
    font-size: 1.3rem;
    display: flex;
    margin-bottom: 0;
    color: #ffffff;
    width: 12rem;
    position: relative;
    top: -3rem;
    right: -1rem;
    opacity: 0;
}

.anime-description {
    font-size: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    opacity: 0;
 



    

}

.anime-year {
    opacity: 0;
    font-size: 1.0rem;
    display: flex;
    color: #ffffff;
    position: relative;
    top: 16rem;
    z-index: 10;
}

.picture-anime:hover .anime-title {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime:hover .anime-description {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime:hover .anime-year {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime:hover .button-add {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}
.button-add:hover {
    background-color: #bb8b32ea;
    color: #ffffff;
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}

.button-add {
    border-radius: 100%;
    border: #b6afaf;
    position: relative;
    top: 19rem;
    background-color: #4d2f2f;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
    opacity: 0;
}

.year-div {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.0rem;
    opacity: 1;
    z-index: 1;
}

.add-div {
    display: flex;
    padding-left: 12rem;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    opacity: 1;
    z-index: 1;
}

.div-description {
    margin-top: -2.5rem;
    align-self: center;
    justify-content: center;
    min-height: 8.5rem;
    margin-bottom: 1rem;
    width: 15rem;
    opacity: 1;
    z-index: 1;
    
    overflow: hidden;
}

/*CSS FOR DESCRIPTION PAGE*/
.back-anime-description {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10rem;
    background-image: url(/static/images/japan1.jpg);
    background-size: cover;
    gap: 5.3rem;
    overflow: hidden;
    margin: 0;
}

.picture-anime-description {
    margin-left: 2rem;
    margin-top: 8rem;
    width: 25.5rem;
    height: 39.75rem;
    background-image: url("/static/images/black-clover-picture.jpg");
    border-radius: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0rem 1.1rem 0.2rem rgba(139, 49, 8, 0.979);
    transition: ease-in-out 0.2s;
}
.block-information{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30rem;
    background-color: #000000c2;
    overflow: hidden;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0rem 1.1rem 0.2rem rgba(139, 49, 8, 0.979);
 
    transition: ease-in-out 0.2s;
}
.anime-title-description {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fafafa;
    text-align: center; 
    flex-direction: column;
}
.div-description-description {
    color: #fafafa;
    display: flex;
    align-items: center;
    min-height: 10.5rem;;
    margin-bottom: 1rem;
    width: 28.4rem;
    opacity: 1;

}

.anime-description-description {
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    position: relative;
    opacity: 100%;
 
   
}
.other-information{
    display: flex;
    font-size: 0.8rem;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    width: 28rem;
    transition: ease-in-out 0.2s;
}
h3{
    color: rgb(255, 185, 127);
    margin: 0;
}
p{
    margin: 0.3rem;
}
.add-div-description {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    font-size: 1.0rem;
    height: 1rem;
    width: 100%;
   
}
.button-add-description {
    border-radius: 100%;
    border: #b6afaf;
    position: relative;
    background-color: #4d2f2f;
    color: #ffffff;
    width: 3rem;
    top: -1rem;
    left: 1rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
    

}

.button-hover {
    width: 7rem;
    font-family: BlackMango;
    border-radius: 5%;
    height: 2rem;
    font-size: 0.2rem;
    box-shadow: 0 0rem 1.1rem 0.2rem rgb(97, 2, 2);
    font-size: 3rem;
    transform: scale(1.2);
    background-color: #bb8b32ea;
}
/*CSS REGISTER FORM*/
.forms_Register {

    color: white;
    display: flex;
    
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 31rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #1f080896;
    border-radius: 5rem;
    box-shadow: 1px 1px 15px rgba(145, 0, 0, 5);


}
.main_register{
    position: relative;  
    height: 100%;  
    background-image: url(/static/images/japan-background-digital-art.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms_Register input{
        width: 15rem;
}

/*CSS MYLIST*/
.main-list {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 55rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #270000;
    background-image: url(/static/images/japan2.jpg);
    background-size: cover;
}

.picture-anime-list {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    height: 25.75rem;
    border-radius: 0.5rem;
    background-size: cover;
    box-shadow: 0 1rem 1.1rem 0.2rem rgba(0, 0, 0, 0.25);
    transition: ease-in-out 0.2s;
    overflow: hidden;
}
.picture-anime-list:hover {
    opacity:90%;
    transition: ease-out 0.2s;
}
.picture-anime-list:hover .anime-title {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime-list:hover .anime-description {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime-list:hover .anime-year {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime-list:hover .button-add {
    transition: ease-in-out 0.4s;
    opacity: 100%;
}

.picture-anime-list:hover .button-description {
    transition: ease-in-out 0.3s;
    transform: scale(12.5);
}

.picture-anime-list:hover:hover .button-text {
    opacity: 0;
}

.delete-div {
    border-radius: 100%;
    border: #460000;
    margin-bottom: -2rem;
    color: #b4b4b4;
    width: 2rem;
    height: 2rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
}
.button-delete {
    border-radius: 100%;
    position: relative;
    top: -7rem;
    right: -14rem;
    border: #b6afaf;
    background-color: #382e2a;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;

}
.button-delete:hover {
    background-color: #852222;
    color: #000000;
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}

/*CSS FOR MODAL*/
.flash-messages {
    margin-top: 4.3rem;

}

.flash-message {
    padding: 0.2rem 1rem;
    border-radius: 5px;

}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.menu-element{
    
    scale: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 4.5rem;
    text-decoration: none;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1;
    gap: 1rem;
    
}
a{
    color: white;
    text-decoration: none;
}


.menu-button{
    display: flex;
    margin-left: 1rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
}
.menu-button:hover{
    background-color: rgba(150, 147, 147, 0.623);
}

.active{
   
    scale: 1;
    background-color: rgba(80, 8, 8, 0.74);
}
@media (min-width: 768px){
    
    .menu-element{
        scale: 1;
        z-index: 1;
        position: fixed;
        width: 95%;
        right: 2rem;
        justify-content: end;
        top: -0.2rem;
    
    }
    .menu-button{
        display: none;
    }
    
}
/*CSS DIRECTORY*/
.directory{
   border-radius: 100%;
    border: none;
    position: relative;
    color: #b4b4b4;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;

}
.directory:hover{
    background-color: #7a3e3e;
    color: #ffffff;
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}
.submit-search{
    border-radius: 5rem;
    border: #460000;
    position: relative;
    width: 15rem;
    height: 2.5rem;
    color: #b4b4b4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    transition: ease-in-out 0.2s;
}
.submit-search input{
    width: 10rem;
    height: 1rem;
    border-radius: 5rem;
    position: relative;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
}


.submit-search input:focus{
    box-shadow: none;
}
.directoryP{
    background-image: url(/static/images/japan3.jpg);
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 55rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #270000;
    background-size: cover;}

    /*CSS BUTTON PAGES DIRECTORY */
    .pages-directory{
        display: flex;
        z-index: 1;
        justify-content: end;
        right: 1rem;
        bottom: 4rem;
        align-items: end;
        position: fixed;
        gap: 1rem;
        margin-top: 1rem;
    }
    .button-directory{
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #000000;
        font-family: BlackMango;
        box-shadow: 0 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.979);
        background-color: #f3ac29;
        color: #000000;
        width: 8rem;
        height: 2rem;
        transition: ease-in-out 0.2s;
    }
    .button-directory:hover{
        background-color: #77241eea;
        color: #fff8f8;
        transition: ease-in-out 0.2s;
        transform: scale(1.1);
    }
    .button-directory a{
        text-decoration: none;
        color: #b11e1e;
        justify-content: center;
        align-items: center;
    }