<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="head">
        <div class="left">
            <img src="/static/images/AngRod_Search-removebg-preview.png" width="100 px">
            <h1 class="Title">Angrod</h1>
            <h3 class="SubTitle">Search</h3>  
        </div>
    </div>
    <div class="main">
        <form action="/index" method="post">
            <div class="forms">
                <input autocomplete="off" autofocus name="artist" placeholder="Name of the Anime" type="text">
                <button class="button-submit" type="submit">Search Anime</button> 
            </div>
        </form>
        <div class="back-anime">
            <div class="picture-anime" style="background-image:url(/static/images/black-clover-picture.jpg)">
                <button class="button-description"><span class="button-text">+</span></button>
                <h6 class="anime-title">Black Clover</h6>
                <p class="anime-description">Asta y Yuno fueron abandonados juntos en la misma iglesia y han sido inseparables desde entonces. Cuando eran niños, prometieron que competirían entre sí para ver quién se convertiría en el próximo Emperador Magus.</p>
                <p class="anime-year">2017–2021</p>
                <button class="button-add">+</button>

            </div>
            {%for animes in animes%}
            <div class="picture-anime" style="background-image: url('data:image/jpeg;base64,{{image_base64}}');">
                <button class="button-description"><span class="button-text">+</span></button>
                <h6 class="anime-title">{{animes[1]}}</h6>
                <p class="anime-description">Asta y Yuno fueron abandonados juntos en la misma iglesia y han sido inseparables desde entonces. Cuando eran niños, prometieron que competirían entre sí para ver quién se convertiría en el próximo Emperador Magus.</p>
                <p class="anime-year">{{animes[7]}}</p>
                <button class="button-add">+</button>
            {%endfor%}
        </div>
        </div>
            

    </div>
    <div class="foot">
        <h5>Sthefany Angeles Rodriguez </h5>
    </div>
</body>
</html>
